body {
  background-color: #22577E;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  margin: 1rem auto 1rem auto;
  font-family: 'Playfair Display', serif;
  font-size: 3.75rem;
  color: #8FD9A8;
  padding-bottom: 20px;
}

h2 {
  font-size: 2.25rem;
  color: #8FD9A8;
  font-weight: bold;
  padding-bottom: 20px;
}

h3 {
  color: #8FD9A8;
  font-size: 1.75rem;
  margin: 10px auto;
  font-weight: bold;
}

p {
  font-family: 'Cabin', sans-serif;
  color: #EAEBD8;
  line-height: 2;
  font-size: 1.25rem;
  margin: 25px auto 25px auto;
}

a {
  color: #EAEBD8;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}
a:hover {
  color: lightgray;
}

hr {
  border: solid lightgray 1px;
  width: 30%;
  margin: 20px auto;
}

/* Containers */

.container-fluid {
  padding: 5% 10%;
}

/* .top-container {
  padding: 20px 0 0 0;
  margin: 0;
  position: relative;
} */

.biopic {
  width: 25%;
  margin: 10px auto 10px auto;
  border-radius: 200%;
  border-style: solid;
  border-width: 2px;
  border-color: #EAEBD8;
}

.intro {
  text-align: left;
}

/* .middle-container {
  margin: 40px 0;
} */

.skills {
  margin: 10px auto;
}

.skill-row {
  text-align: left;
}

.webdevpic {
  color: white;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.musicproduction {
  width: 20%;
  float: right;
  margin-left: 30px;
}


/** Bottom container / footer **/

.contact-h3 {
  width: 30%;
  font-size: 2rem;
  line-height: 2;
}
.contact-message {
  text-align: left;
}

/** Button **/

.btn {
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #0f9684;
  padding: 14px 22px 14px 22px;
  text-decoration: none;
}

.btn:hover {
  background: #2378ad;
  text-decoration: none;
}

.copyright {
  color: #EAEBD8;
  font-size: 1rem;
  padding: 20px 0;
}

.attributions p {
  font-size: .5rem;
  margin: 0;
}
.attributions a {
  font-size: .5rem;
  margin: 0;
}
